.heading__heart {
    background-image: url(../../../images/Heart.svg);
    background-repeat: no-repeat;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    width: 20px;
    height: 20px;
    padding-right: 35px;
    align-self: center;
    cursor: pointer;
}
.heading__heart:hover {
    opacity: 0.5;
}