.element__container-heading {
    max-width: 282px;
    height: 79px;
    border-radius: 0px 0px 10px 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin: auto;
}