.profile__avatar-container{
    background-image: url(../../../images/Pencil.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}